    <div class='level {{levelCtrl.portOpen}}'  
      ng-repeat-start="level in scene.levels" 
      ng-init="levelCtrl.setLevel(level)"
      ng-controller="LevelController as levelCtrl" 
      dnd-list="levelCtrl.devices">
      <div class='device' 
        ng-repeat="device in levelCtrl.devices"
        dnd-draggable="device"
        dnd-moved="levelCtrl.devices.splice($index, 1)"
        dnd-effect-allowed="move"
        ng-init="deviceCtrl.setDevice(device)"
        ng-controller="DeviceController as deviceCtrl"
        style="height: {{deviceCtrl.height}}px">
        <div class="output-ports">
          <div class="output port" 
            ng-controller="OutputPortController as outputCtrl" 
            ng-repeat="port in device.outputs"
            ng-class="{selected: outputCtrl.selected}"
            ng-click="outputCtrl.select()">
            {{port}}
          </div>
        </div>
        <div class="input-ports">
          <div class="input port" ng-click='levelCtrl.connectInput(device, port)' ng-repeat="port in device.inputs">
            {{port}}
          </div>
        </div>
        <div class="device-text">
          <i class="fa fa-{{device.icon}}"></i>
          <span ng-bind="device.label"></span>
        </div>
       
      </div>
      <div class='add-device' ng-click="levelCtrl.addDevice()">
        <i class="fa fa-plus-square"></i><br/>
        <span>Add Device</span>
      </div>
    </div>
    <div ng-repeat-end="" 
      class='bay' 
      ng-class="{open: bayCtrl.isOpen, closed: bayCtrl.isClosed}"
      ng-controller="BayController as bayCtrl" 
      ng-click="bayCtrl.toggleBay()"
      ng-init="bayCtrl.setId($index)">
      <i class="fa fa-cogs" ng-show="bayCtrl.isClosed"></i>
      <canvas ng-show="bayCtrl.isOpen">
      </canvas>
    </div>
    <div class='add-level' ng-click="sceneCtrl.addLevel()">
      <i class='fa fa-plus-square'></i><br/>
      <span>Add Level</span>
    </div>