    <div class='level {{levelCtrl.portOpen}}'  
      ng-repeat-start="level in models.levels" 
      ng-init="levelCtrl.setId($index)"
      ng-controller="LevelController as levelCtrl" 
      dnd-list="models.devices">
      <div class='device' 
        ng-repeat="device in models.devices"
        dnd-draggable="device"
        dnd-moved="models.devices.splice($index, 1)"
        dnd-effect-allowed="move"
        ng-init="deviceCtrl.setDevice(device)"
        ng-controller="DeviceController as deviceCtrl"
        style="height:{{deviceCtrl.height()}}px;">
        <div class="device-text">
          <i class="fa fa-{{device.icon}}"></i>
          <span ng-bind="device.label"></span>
        </div>
        <div class="output-ports">
          <div class="output port">
            output
          </div>
        </div>
      </div>
      <div class='add-device' ng-click="levelCtrl.add_device()">
        <i class="fa fa-plus-square"></i><br/>
        <span>Add Device</span>
      </div>
    </div>
    <div ng-repeat-end="" 
      class='bay' 
      ng-controller="BayController as bayCtrl" 
      ng-click="bayCtrl.toggleBay()"
      ng-init="bayCtrl.setId($index)">
      <i class="fa fa-cogs"></i>
    </div>
    <div class='add-level' ng-click="sceneCtrl.add_level()">
      <i class='fa fa-plus-square'></i><br/>
      <span>Add Level</span>
    </div>